@import "../mixins";

.aboutContent {
  @include desktop() {
    width: 60%;
  }
  @include phone() {
    width: 100%;
  }
  padding: 10px;
  font-size: 16px;
  margin: 0.5rem 0;
  text-align: left;
  font-weight: 400;

  p {
    margin: 1.25rem 0;
  }
}
